* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #eee;
}

.App {
    display: flex;
    padding: 50px 20px;
}

.converter {
    background-color: #fff;
    padding: 40px;
    margin: 10px;
    border-radius: 8px;
}